extends ./layout/index

block slider 
    .slider 
        h1 Río de Janeiro 
        em Aventura

block contenido
    main.container.mt-5
        h2.text-center.mb-5 Sobre Nosotros 
        .row.mb-5 
            .col-md-6
                p Integer sit amet tempus orci. Integer ullamcorper neque a velit ornare, eget consectetur eros eleifend. Ut sit amet tortor augue. In sapien enim, hendrerit ac congue id, vehicula ut elit. Nulla finibus vestibulum felis sed maximus. Cras in ex sit amet leo semper cursus at sed velit. Vestibulum luctus enim porttitor, luctus sapien in, tincidunt nulla. Donec porttitor at turpis eget sodales.
                p Mauris sit amet elementum massa, ac dapibus purus. Cras placerat, purus hendrerit laoreet varius, est lectus suscipit lectus, luctus porttitor nisl enim sed arcu. Suspendisse bibendum eu magna et dignissim.
            .col-md-6
                img(src="/img/inicio_nosotros.jpg", alt="img nosotros", class="img-fluid")


        include ./layout/bloque_viajes

    .descuento 
        .container 
            .row 
                .col-md-6
                    .contenido 
                        h3 5% de Descuento 
                        p.titulo Viaje a Canadá
                        p.fecha 20 de Marzo de 2026 - 28 de Marzo de 2026
                        p.precio $2,500 USD

    .container
        h2.mt-5.text-center Testimoniales 
        include ./layout/bloque_testimoniales